################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pictureviewer/bin/Debug
/pictureviewer/obj/Debug
/pictureviewer/obj/Debug
*.psess
/_UpgradeReport_Files
/SmartThreadPool/bin/Debug
/SmartThreadPool/obj/Debug
*.vsp
*.suo
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2
/UpgradeLog13.htm
/UpgradeLog12.htm
/UpgradeLog11.htm
/UpgradeLog10.htm
/.vs/pictureviewer
